//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NSR-LV4CQN48PC6/I5
//Device: GW1NSR-4C
//Created Time: Tue 01 10 16:00:29 2023

IO_LOC "ip_out[1]" 8;
IO_PORT "ip_out[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "ip_out[0]" 23;
IO_PORT "ip_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "clk_out" 20;
IO_PORT "clk_out" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "TX" 13;
IO_PORT "TX" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[7]" 30;
IO_PORT "GPIO_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[6]" 32;
IO_PORT "GPIO_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[5]" 35;
IO_PORT "GPIO_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[4]" 33;
IO_PORT "GPIO_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[3]" 40;
IO_PORT "GPIO_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[2]" 42;
IO_PORT "GPIO_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[1]" 44;
IO_PORT "GPIO_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_out[0]" 46;
IO_PORT "GPIO_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "GPIO_in1[1]" 43;
IO_PORT "GPIO_in1[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "GPIO_in1[0]" 45;
IO_PORT "GPIO_in1[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "rst_n" 14;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk" 22;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP;
